* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    user-select: none;
}
img{
    max-width: 100%;
    object-fit: cover;
}
input,textarea{
    border: none;
}
body {
    font-family: "Cairo", sans-serif;
    counter-reset: numbers;
    caret-color: var(--main-color,#1787e0);
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    :root{
        font-size: 16px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    :root{
        font-size: 17px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    :root{
        font-size: 18px;
    }
}
:root {
    --main-color: #1787e0;
    --secondary-color: #2196f3;
    --backg-color: #fafafa;
    --text-color:#777;
    --back-bord: #ececec;
    --main-padding-b: 100px;
    --main-padding-t: 30px;
    --main-transi: 0.3s;
    --main-margin-b: 80px;
    --main-margin-t: 80px;
}
html {
    scroll-behavior: smooth;
}
/* start components */
.flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flex-space-bet-cent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.container {
    padding-left: .8rem;
    padding-right: .8rem;
    margin-left: auto;
    margin-right: auto;
}
.special {
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    padding: 12px 20px;
    margin-bottom: var(--main-margin-b, 80px);
    margin-top: var(--main-margin-t, 80px);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bolder;
    border: 2px solid black;
    transition: border-color 0.1s, color var(--main-transi, 0.3s);
    -webkit-transition: border-color 0.1s, color var(--main-transi, 0.3s);
    -moz-transition: border-color 0.1s, color var(--main-transi, 0.3s);
    -ms-transition: border-color 0.1s, color var(--main-transi, 0.3s);
    -o-transition: border-color 0.1s, color var(--main-transi, 0.3s);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}
.special::before,
.special::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-color,#1787e0);
    top: 50%;
    transform: translatey(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
}
.special::after {
    left: -30px;
    transition: left 0.3s, border-radius 0.1s;
    -webkit-transition: left 0.3s, border-radius 0.1s;
    -moz-transition: left 0.3s, border-radius 0.1s;
    -ms-transition: left 0.3s, border-radius 0.1s;
    -o-transition: left 0.3s, border-radius 0.1s;
}
.special::before {
    right: -30px;
    transition: right var(--main-transi, 0.3s), border-radius 0.1s;
    -webkit-transition: right var(--main-transi, 0.3s), border-radius 0.1s;
    -moz-transition: right var(--main-transi, 0.3s), border-radius 0.1s;
    -ms-transition: right var(--main-transi, 0.3s), border-radius 0.1s;
    -o-transition: right var(--main-transi, 0.3s), border-radius 0.1s;
}
.special:hover::before,
.special:hover::after {
    border-radius: 2px;
    transition-delay: 0.2s;
    z-index: -1;
    animation: fill 0.5s 0.1s linear forwards;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-animation: fill 0.5s 0.1s linear forwards;
}
.special:hover::after {
    left: 0;
}
.special:hover::before {
    right: 0;
}
.special:hover {
    color: white;
    border-color: transparent;
    transition-delay: 0.7s;
}
@keyframes fill {
    50% {
        height: 12px;
        width: 12px;
    }
    100% {
        height: 100%;
        width: 51%;
    }
}
.spickes {
    position: relative;
}
.spickes::after {
    content: "";
    position: absolute;
    height: 30px;
    width: 100%;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
        linear-gradient(225deg, white 25%, transparent 25%);
    z-index: 2;
    background-size: 30px 30px;
}
@media (min-width:768px) {
 .dots{
    position:absolute;
    height: 186px;
    width: 204px;
    background-image: url('./photos/dots.png');
    background-repeat: no-repeat;
    background-size: cover;
   z-index: 0;
}
.dotsUp{
    top:200px;
    right: 0;
}
.dotsDown{
    bottom:200px;
    left: 0;
}
} 
/*start header*/
header {
    margin-bottom: .15rem;
    box-shadow: 0 0 5px #666;
}
header .container {
    position: relative;
}
@media (min-width: 768px) {
    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
header .container h2 {
    padding: .5rem 0;
    color: var(--main-color, #1787e0);
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
    transition: var(--main-transi, .3s);
    -webkit-transition: var(--main-transi, .3s);
    -moz-transition: var(--main-transi, .3s);
    -ms-transition: var(--main-transi, .3s);
    -o-transition: var(--main-transi, .3s);
}
header .container h2:hover {
    color:white;
    background-color: var(--secondary-color,#2196f3);
}
@media (min-width: 768px) {
    header .container nav li a:not(ul a) {
        padding: 1.2rem 1.7rem;
    }
}
header .container nav li a {
    padding: .8rem .4rem;
    color: initial;
    text-transform: capitalize;
    display: block;
    position: relative;
}
header .container nav a:not(ul a)::after {
    content: "";
    width:0%;
    height: .18rem;
    background-color: var(--secondary-color, #1787e0);
    position: absolute;
    left: 0;
    top: 0;
    transition:var(--main-transi, .3s);
    -webkit-transition:var(--main-transi, .3s);
    -moz-transition:var(--main-transi, .3s);
    -ms-transition:var(--main-transi, .3s);
    -o-transition:var(--main-transi, .3s);
}
header .container nav a:hover:not(ul a) {
    color: var(--secondary-color,#1787e0);
    background-color: var(--backg-color, #fafafa);
}
header .container nav a:hover::after {
    width: 100%;
}
@media (max-width: 991.98px) {
    header .container .megmenu img {
        display: none;
    }
}
header .container .megmenu {
    position: absolute;
    left: 0;
    top: calc(100% + 50px);
    width: 100%;
    background-color: white;
    border-bottom: 3px solid var(--main-color,#1787e0);
    transition: top var(--main-transi,.3s);
    z-index: -2;
    -webkit-transition: top var(--main-transi,.3s);
    -moz-transition: top var(--main-transi,.3s);
    -ms-transition: top var(--main-transi,.3s);
    -o-transition: top var(--main-transi,.3s);
}
@media (min-width: 768px) {
    header .container .megmenu {
        padding: 30px; 
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        left: 50%;
        transform: translatex(-50%);
        -webkit-transform: translatex(-50%);
        -moz-transform: translatex(-50%);
        -ms-transform: translatex(-50%);
        -o-transform: translatex(-50%);
}}
header .container nav li.list:hover .megmenu {
    z-index: 2;
    top: calc(100% + 2px);
    cursor: pointer;
}
@media (min-width: 768px) {
    header .container .main {
        min-width: 300px;
        padding-bottom: 50px;
        flex: 1;
    }
}
header .container .main ul {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
header .container .main ul::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: var(--backg-color, #fafafa);
    transition: var(--main-transi, 0.3s);
    -webkit-transition: var(--main-transi, 0.3s);
    -moz-transition: var(--main-transi, 0.3s);
    -ms-transition: var(--main-transi, 0.3s);
    -o-transition: var(--main-transi, 0.3s);
}
header .container .main ul:hover::before {
    width: 100%;
}
header .container .main li a {
    color: var(--main-color, #1787e0);
    font-size: 20px;
    font-weight: bold;
}
@media (max-width: 767.98px) {
    header .container .main ul:not(.main:nth-of-type(2) ul:nth-child(5)) {
        border-bottom: 1px solid var(--back-bord, #ececec);
    }
}
@media (min-width: 768px) {
    header .container .main ul:not(:last-child) {
        border-bottom: 1px solid var(--back-bord, #ececec);
    }
}
header .container .main ul li:nth-child(1) {
    padding-left: 20px;
    padding-right: 20px;
    color: var(--main-color, #1787e0);
    position: relative;
}
/*end header*/
/*start landing*/
.landing {
    min-height: calc(100vh - 7rem);
    padding-bottom: var(--main-padding-b, 100px);
    padding-top: var(--main-padding-t, 30px);
    margin-bottom: var(--main-margin-b, 80px);
    position: relative;
    overflow: hidden;
}
.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    background-color: var(--back-bord, #ececec);
    z-index: -1;
    transform: skewy(-6deg);
    transform-origin: top left;
    -webkit-transform: skewy(-6deg);
    -moz-transform: skewy(-6deg);
    -ms-transform: skewy(-6deg);
    -o-transform: skewy(-6deg);
}
@media (min-width: 992px) {
    .landing .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media (min-width: 992px) {
    .landing .container .image-lan {
        flex-basis: 55%;
        display: block;
        animation: ups 5s linear infinite both;
        transition: var(--main-transi, 0.3s);
        -webkit-animation: ups 5s linear infinite both;
        -webkit-transition: var(--main-transi, 0.3s);
        -moz-transition: var(--main-transi, 0.3s);
        -ms-transition: var(--main-transi, 0.3s);
        -o-transition: var(--main-transi, 0.3s);
}
}
@media (max-width: 991.98px) {
    .landing .container .image-lan {
        display: none;
    }
}
@keyframes ups {
    0%,
    100% {
        transform: translatey(0px);
        -webkit-transform: translatey(0px);
        -moz-transform: translatey(0px);
        -ms-transform: translatey(0px);
        -o-transform: translatey(0px);
}
    50% {
        transform: translatey(40px);
        -webkit-transform: translatey(40px);
        -moz-transform: translatey(40px);
        -ms-transform: translatey(40px);
        -o-transform: translatey(40px);
}
}
.landing .container .section {
    text-align: center;
}
@media (min-width: 992px) {
    .landing .container .section {
        flex:1;
        text-align: left;
    }
}
.landing .container .section h2 {
    margin-bottom: .7rem;
    font-size: 2.3rem;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: -.06rem;
}
@media (max-width: 767.98px) {
    .landing .container .section h2 {
        font-size: 1.5rem;
    }}
.landing .container .section p {
    max-width: 500px;
    color: var(--text-color, #777);
    font-size: 1.25rem;
    line-height: 1.7;
}
@media (max-width: 991.98px) {
    .landing .container .section p {
        margin-left: auto;
        margin-right: auto;
    }
}
.landing .angle {
    position: absolute;
    left: 50%;
    bottom:0;
    transform: translateX(-50%);
    animation: up-and-down 1s linear infinite forwards;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-animation: up-and-down 1s linear infinite forwards;
}
.landing .angle a {
    color: var(--main-color, #1787e0);
    display: block;
}
.landing .angle a i {
    font-size: 1.5rem;
}
@keyframes up-and-down {
    0% {
        bottom: 10px;
    }
    25%,
    75%,
    100% {
        bottom:-3px;
    }
    50% {
        bottom: 0px;
    }
}
/*end landing*/
/*start articles*/
.articles {
    padding-bottom: var(--main-padding-b, 30px);
    padding-top: var(--main-padding-t, 30px);
}
.articles .container {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 40px;
}
.articles .container .card {
    background-color: white;
    box-shadow: 1px 1px 6px 5px lightgray;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    transition: var(--main-transi, 0.3s);
    -webkit-transition: var(--main-transi, 0.3s);
    -moz-transition: var(--main-transi, 0.3s);
    -ms-transition: var(--main-transi, 0.3s);
    -o-transition: var(--main-transi, 0.3s);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.articles .container .card:hover {
    transform: translatey(-15px);
    box-shadow: 1px 1px 10px 5px gray;
    -webkit-transform: translatey(-15px);
    -moz-transform: translatey(-15px);
    -ms-transform: translatey(-15px);
    -o-transform: translatey(-15px);
}
.articles .container .card::before {
    content: "\f30b";
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: var(--secondary-color, #2196f3);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: .8rem;
    transition: var(--main-transi, 0.3s);
    -webkit-transition: var(--main-transi, 0.3s);
    -moz-transition: var(--main-transi, 0.3s);
    -ms-transition: var(--main-transi, 0.3s);
    -o-transition: var(--main-transi, 0.3s);
}
.articles .container .card:hover::before {
    animation: move-angle 0.7s linear infinite forwards;
    -webkit-animation: move-angle 0.7s linear infinite forwards;
}
@keyframes move-angle {
    95% {
        right: 10px;
    }
    100% {
        right: 15px;
    }
}
.articles .container .card img {
    max-width: 100%;
}
.articles .container .card .content-card {
    padding: 20px;
    border-bottom: 1px solid var(--back-bord, #ececec);
    position: relative;
}
.articles .container .card .content-card h3 {
    margin-bottom: .5rem;
    font-size: 1.08rem;
}
.articles .container .card .content-card p {
    color:var(--text-color,#777);
    font-size: .9rem;
    line-height: 1.6;
}
.articles .container .card .button {
    padding-left: 20px;
    height: 60px;
}
.articles .container .card a {
    color: var(--secondary-color, #2196f3);
    font-size: .9rem;
    text-transform: capitalize;
    font-weight: bold;
    display: block;
}
.articles .container .card .button i {
    margin-right: 20px;
    color: var(--main-color, #1787e0);
}
/*end articles*/
/*start gallery*/
.gallery {
    padding-bottom: var(--main-padding-b, 100px);
    padding-top: var(--main-padding-t, 30px);
    border-top: 1px var(--backg-color);
    position: relative;
}
.gallery::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--back-bord,#ececec);
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
}
.gallery .container div {
    background-color: white;
    overflow: hidden;
    position: relative;
    border: .85rem solid white;
}
.gallery .container div::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(253 253 253 / 0.2);
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.gallery .container div:hover::before {
    animation: light 0.3s linear backwards;
    -webkit-animation: light 0.3s linear backwards;
}
@keyframes light {
    100% {
        width: 200%;
        height: 200%;
    }
}
.gallery .container div img {
    transition: var(--main-transi, 0.3s);
    -webkit-transition: var(--main-transi, 0.3s);
    -moz-transition: var(--main-transi, 0.3s);
    -ms-transition: var(--main-transi, 0.3s);
    -o-transition: var(--main-transi, 0.3s);
}
.gallery .container div:hover img {
    transform: scale(1.1) rotate(5deg);
    -webkit-transform: scale(1.1) rotate(5deg);
    -moz-transform: scale(1.1) rotate(5deg);
    -ms-transform: scale(1.1) rotate(5deg);
    -o-transform: scale(1.1) rotate(5deg);
}
/*end gallery*/
/*start features*/
.features {
    padding-bottom: var(--main-padding-b, 100px);
    padding-top: var(--main-padding-t, 30px);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
}
.features .box {
    text-align: center;
    border: 1px solid #ccc;
    position: relative;
}
.features .box .image {
    position: relative;
}
.features .box .image::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: -1px;
    background: #ff4500;
    opacity: 0.5;
}
.features .container > .box:nth-child(2) ::before {
    background: #008b8b;
}
.features .container > .box:nth-child(3) ::before {
    background: var(--main-color,#1787e0);
}
.features .box .image::after {
    content: "";
    position: absolute;
    height: 100%;
    bottom: -2px;
    right: -.1px;
    left: 0;
    background-color: white;
    transition: var(--main-transi, 0.3s);
    clip-path: polygon(100% 100%, -40% 100%, 100% 50%);
    -webkit-transition: var(--main-transi, 0.3s);
    -moz-transition: var(--main-transi, 0.3s);
    -ms-transition: var(--main-transi, 0.3s);
    -o-transition: var(--main-transi, 0.3s);
}
.features .box:hover .image::after {
    clip-path: polygon(100% 100%, 0 100%, 0 60%);
    left: -0.5px;
}
.features .box .content-box {
    padding: 20px;
    position: relative;
}
.features .box .content-box h3 {
    width: fit-content;
    padding: 20px 0;
    margin: 20px auto 50px auto;
    font-size: 40px;
    text-transform: capitalize;
    position: relative;
}
.features .box .content-box h3::before {
    content: "";
    position: absolute;
    width: calc(100% - 40px);
    height: 5px;
    left: 20px;
    bottom: 0;
}
.features .container .red h3::before {
    background-color: #f44036;
}
.features .container .green h3::before {
    background-color: #009688;
}
.features .container .blue h3::before {
    background-color: #03a9fa;
}
.features .box .content-box p {
    color: var(--text-color, #777);
    font-size: 20px;
    line-height: 1.8;
}
.features .box button {
    border-radius: 6px;
    margin: 40px auto;
    position: relative;
    border-width: 3px;
    border:.2rem solid ;
    background: white;
    box-shadow: hidden;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.features .container .red button {
    border-color: #f44036;
}
.features .container .green button {
    border-color: #009688;
}
.features .container .blue button {
    border-color: #03a9fa;
}
.features .box button a {
    display: block;
    padding: 8px 25px;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    position: relative;
}
.features .container .red button a {
    color: #f44036;
}
.features .container .green button a {
    color: #009688;
}
.features .container .blue button a {
    color: #03a9fa;
}
.features .box button::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    transition: var(--main-transi, 0.3s);
    -webkit-transition: var(--main-transi, 0.3s);
    -moz-transition: var(--main-transi, 0.3s);
    -ms-transition: var(--main-transi, 0.3s);
    -o-transition: var(--main-transi, 0.3s);
}
.features .box:hover button::before {
    width: 100%;
}
.features .box:hover button a {
    color: white;
}
.features .red:hover button::before {
    background-color: #f44036;
}
/*end features*/
/*start testimonials */
.testimonials {
    padding-bottom: var(--main-padding-b, 100px);
    padding-top: var(--main-padding-t, 30px);
    background-color: var(--back-bord,#ececec);
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
}
.testimonials .container .box {
    padding: 20px;
    background-color: white;
    border-radius: 6px;
    position: relative;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.testimonials .container .box .foto {
    width: 100px;
    position: absolute;
    top: 0;
    right: -10px;
    transform: translatey(-50%);
    border: 10px solid var(--back-bord,#ececec);
    border-radius: 50%;
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.testimonials .container .box img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.testimonials .container .box h3 {
    margin: 0;
    font-size: 20px;
}
.testimonials .container .box h4 {
    margin: 10px 0;
    font-weight: normal;
    font-size: .9rem;
    color:var( --text-color,#777);
}
.testimonials .container .box .icons i {
    color: #ffc107;;
    font-size: .9rem;
}
.testimonials .container .one .icons i:last-child {
    color: black;
}
.testimonials .container .two .icons i:last-child,
.testimonials .container .two .icons i:nth-child(4) {
    color: black;
}
.testimonials .container .box p {
    margin: 10px auto 0;
    color:var( --text-color,#777);
    font-size: .9rem;
    line-height: 1.6;
}
/*end testimonials*/
/*start team members*/
.team {
    padding-bottom: var(--main-padding-b, 100px);
    padding-top: var(--main-padding-t, 30px);
}
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1.6rem;
}
.team .container .box {
    padding-bottom: 22px;
    position: relative;
    transition: var(--main-transi, 0.3);
    -webkit-transition: var(--main-transi, 0.3);
    -moz-transition: var(--main-transi, 0.3);
    -ms-transition: var(--main-transi, 0.3);
    -o-transition: var(--main-transi, 0.3);
}
.team .container .box::before ,.team .container .box::after{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.team .container .box::before {
    width: calc(100% - 3rem);
    background: #f3f3f3;
    z-index: -1;
}
.team .container .box::after {
    width: 0;
    background: #e4e4e4;
    opacity: 0.3;
    transition: var(--main-transi, 0.3s);
    -webkit-transition: var(--main-transi, 0.3s);
    -moz-transition: var(--main-transi, 0.3s);
    -ms-transition: var(--main-transi, 0.3s);
    -o-transition: var(--main-transi, 0.3s);
}
.team .container .box:hover::after {
    width: calc(100% - 80px);
}
.team .container .box:hover img,.team .container .box:hover p,.team .container .box:hover h3{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.team .container .box .fotos {
    padding-top: 3.2rem;
}
.team .container .box img {
    width: calc(100% - 3.3rem);
    border-radius: 6px;
    z-index: 2;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.team .container .box .icon {
    width: 3.3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    gap: 1.6rem;
}
.team .container .box .icon i {
    color:var( --text-color,#777);
    font-size: .9rem;
    z-index: 1000;
    transition: var(--main-transi,.3s);
    -webkit-transition: var(--main-transi,.3s);
    -moz-transition: var(--main-transi,.3s);
    -ms-transition: var(--main-transi,.3s);
    -o-transition: var(--main-transi,.3s);
}
.team .container .box .icon i:hover {
    color: var(--main-color,#1787e0);
}
.team .container .box h3 {
    margin: 1rem auto .5rem 4rem;
    font-size: 1.1rem;
    color: var(--secondary-color,#2196f3);
}
.team .container .box p {
    margin-left: 4rem;
    font-size: .9rem;
    color: #444;
}
/*end team members*/
/*start services*/
.services {
    padding-bottom: var(--main-padding-b, 100px);
    padding-top: var(--main-padding-t, 30px);
    background-color: var(--back-bord,#ececec);
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
}
.services .container .card {
    padding-top: 30px;
    background-color: white;
    text-align: center;
    position: relative;
    transition: var(--main-transi, 0.3s);
    -webkit-transition: var(--main-transi, 0.3s);
    -moz-transition: var(--main-transi, 0.3s);
    -ms-transition: var(--main-transi, 0.3s);
    -o-transition: var(--main-transi, 0.3s);
}
.services .container .card::before {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    background-color: var(--main-color,#1787e0);
    transition: var(--main-transi, 0.3s);
    -webkit-transition: var(--main-transi, 0.3s);
    -moz-transition: var(--main-transi, 0.3s);
    -ms-transition: var(--main-transi, 0.3s);
    -o-transition: var(--main-transi, 0.3s);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}
.services .container .card:hover::before {
    width: 100%;
}
.services .container .card:hover {
    transform: translatey(-10px);
    -webkit-transform: translatey(-10px);
    -moz-transform: translatey(-10px);
    -ms-transform: translatey(-10px);
    -o-transform: translatey(-10px);
}
.services .container i {
    color: #dfdfdf;
}
.services .container h3 {
    color: var(--secondary-color,#2196f3);
    margin: 30px auto 40px;
    font-size: 25px;
}
.services .container .number {
    padding: 15px 20px;
    background: linear-gradient(
        120deg,
        var(--main-color,#1787e0) 25%,
        var(--back-bord,#ececec) 25%,
        var(--back-bord,#ececec) 40%,
        rgb(253 253 253) 40%
    );
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.services .container .number::before {
    counter-increment: numbers;
    content: "0" counter(numbers);
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translatey(-50%);
    font-size: 30px;
    font-weight: bold;
    color: white;
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
}
.services .container .number a {
    color: var(--secondary-color,#2196f3);
}
/*end services*/
/*start skills*/
.skills {
    padding-bottom: var(--main-padding-b, 100px);
    padding-top: var(--main-padding-t, 30px);
}
.skills .container {
    display: flex;
    gap: 40px;
}
.skills .container .box {
    flex: 1;
}
.skills .container img {
    flex-basis: 300px;
}
@media (max-width: 991.98px) {
    .skills .container img {
        display: none;
    }
}
.skills .container .box h3 {
    margin: 20px 0 20px;
    font-size: 20px;
}
.skills .container .box h3 span {
    width: 2rem;
    height: 1.3rem;
    color: var(--secondary-color, #2196f3);
    background: white;
    font-size: .7rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.skills .container .box .target div {
    height: 30px;
    background-color: #eee;
    position: relative;
}
.skills .container .box .target div span {
    width: 0;
    height: 30px;
    background-color: var(--secondary-color,#2196f3);
    position: absolute;
    top: 0;
    left: 0;
    transition: width .5s linear;
    -webkit-transition: width .5s linear;
    -moz-transition: width .5s linear;
    -ms-transition: width .5s linear;
    -o-transition: width .5s linear;
}
/*end skills*/
/*start work*/
.work {
    padding-bottom: var(--main-padding-b, 30px);
    padding-top: var(--main-padding-t, 30px);
    background-color:var( --back-bord, #ececec);
}
@media (min-width: 992px) {
.work .container {
    display: flex;
    align-items: center;
    gap: 5rem;
}
}
.work .container .img-card img {
    flex-basis: 45%;
}
@media (max-width: 991.98px) {
    .work .container .img-card {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 2rem;
    }
}
.work .container .box {
    flex: 1;
}
.work .container .box .card {
    padding: 2rem;
    margin-bottom: 20px;
    background-color: #f6f5f5;
    border: 2px solid white;
    text-align: center;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
@media (min-width: 768px) {
    .work .container .box .card {
        padding: 1.5rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        gap: 2.5rem;
    }
}
.work .container .box .card::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ccc;
    opacity: 0.3;
    transition: var(--main-transi, 0.3s);
    -webkit-transition: var(--main-transi, 0.3s);
    -moz-transition: var(--main-transi, 0.3s);
    -ms-transition: var(--main-transi, 0.3s);
    -o-transition: var(--main-transi, 0.3s);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.work .container .box .card:hover::before {
    width: 100%;
    height: 100%;
}
.work .container .box img {
    width: 60px;
}
@media (min-width: 768px) {
    .work .container .box img {
        flex-basis: 60px;
    }
    .work .container .box .content {
        flex: 1;
    }
}
.work .container .box h3 {
    margin: 1rem auto .5rem;
    text-transform: capitalize;
}
.work .container .box p {
    color: var(--text-color);
    line-height: 1.8;
}
/*end works*/
/*start latest*/
.latest {
    padding-bottom: var(--main-padding-b, 100px);
    padding-top: var(--main-padding-t, 30px);
    background-color: white;
    position: relative;
}
.latest .container {
    gap: 40px;
}
.latest .container img {
    width: 450px;
}
@media (max-width: 991.98px) {
    .latest .container img {
        display: none;
    }
}
.latest .container .box {
    flex: 1;
    text-align: center;
    z-index: 100;
}
.latest .container .box .counters {
    margin-bottom: 40px;
    flex-wrap: wrap;
    gap: 10px;
}
.latest .container .box .counters div {
    width: 4rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.latest .container .box .counters div span:first-of-type{
    padding: .6rem 0.4rem .7rem;
    color: var(--secondary-color,#2196f3);
    display: block;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.latest .container .box .counters div :last-child {
    padding: .4rem 0;
    display: block;
    font-size: .8rem;
    text-transform: capitalize;
    border-top: 1px solid #ccc;
}
.latest .container .box .info h3 {
    font-size: 1.7rem;
}
.latest .container .box .info p {
    margin: 30px 0 50px;
    color:var( --text-color,#777);
    text-align: center;
    font-size: 18px;
    line-height: 1.7;
   
}
.latest .container form {
        width: 600px;
        margin: 0 auto;
        background-color: #f6f5f5;
        flex-wrap: nowrap;
        gap: 20px;
        border-radius: 3rem 3rem;
        z-index: 100;
        -webkit-border-radius:3rem 3rem;
        -moz-border-radius:3rem 3rem;
        -ms-border-radius:3rem 3rem;
        -o-border-radius:3rem 3rem;
}
@media (min-width: 768px) {
    .latest .container form {
        padding: 1.8rem;
    }
}
@media (max-width: 767px) {
    .latest .container form {
        width: 100%;
        padding: 1rem;
        flex-direction: column;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
}
}
.latest .container form input {
    width: 100%;
    height: 60px;
    padding: 20px;
    font-size: .88rem;
    text-transform: capitalize;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
@media (max-width: 767px) {
    .latest .container form input {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
}
}
.latest .container form input:last-child {
    width: fit-content;
    color: white;
    background: var(--secondary-color,#2196f3);
    font-size: .9rem;
    font-weight: bold;
    cursor: pointer;
}
@media (max-width: 767px) {
    .latest .container form input:last-child {
        width: 100%;
    }
}
/*end latest*/
/*start pricing*/
.pricing {
    padding-bottom: var(--main-padding-b, 100px);
    padding-top: var(--main-padding-t, 30px);
    background-color:var( --back-bord, #ececec);
    position: relative;
}
.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
}
.pricing .container .box {
    padding: 30px 0;
    background-color: white;
    border: 1px solid var(--back-bord,#ececec);
    text-align: center;
    position: relative;
}
.pricing .container .box::before,
.pricing .container .box::after {
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #e4e4e4;
    opacity: 0.3;
    transition: var(--main-transi, 0.3s);
    -webkit-transition: var(--main-transi, 0.3s);
    -moz-transition: var(--main-transi, 0.3s);
    -ms-transition: var(--main-transi, 0.3s);
    -o-transition: var(--main-transi, 0.3s);
}
.pricing .container .box::before {
    top: 0;
    left: 0;
}
.pricing .container .box::after {
    bottom: 0;
    right: 0;
}
.pricing .container .box:hover::before,
.pricing .container .box:hover:after {
    width: 100%;
}
.pricing .container .box h3 {
    margin: 0;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
}
@media (min-width: 1200px) {
    .pricing .container .popular {
        transform: translatey(-30px);
        -webkit-transform: translatey(-30px);
        -moz-transform: translatey(-30px);
        -ms-transform: translatey(-30px);
        -o-transform: translatey(-30px);
}
}
.pricing .container .popular h4 {
    padding: 10px 10px 30px;
    position: absolute;
    top: 0;
    right: 30px;
    color: white;
    background: var(--main-color,#1787e0);
    text-transform: capitalize;
    direction: ltr;
    writing-mode: vertical-lr;
    z-index: 5;
}
.pricing .container .popular h4::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 19px;
    z-index: 100;
}
.pricing .container .box img {
    display: block;
    width: 80px;
    margin: 30px auto 40px;
    color: var(--main-color,#1787e0);
}
.pricing .container .box span:first-of-type {
    display: block;
    color: var(--main-color,#1787e0);
    font-size: 3.5rem;
    font-weight: bold;
}
.pricing .container .box span:last-of-type {
    display: block;
    margin: 10px auto 30px;
    color: var(--text-color);
    font-size: .9rem;
    text-transform: capitalize;
}
.pricing .container .box ul {
    text-align: left;
}
.pricing .container .box ul li {
    padding: 20px 0 20px 45px;
    font-size: .9rem;
    border-top: 1px solid var(--back-bord,#ececec);
    position: relative;
}
.pricing .container .box ul li::before {
    content: "\f00c";
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translatey(-50%);
    color: var(--main-color,#1787e0);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
}
.pricing .container .box a {
    display: block;
    width: fit-content;
    padding: 15px 20px;
    margin: 40px auto 0px;
    color: var(--main-color,#1787e0);
    text-transform: capitalize;
    font-weight: bold;
    border: 2px solid var(--main-color,#1787e0);
    border-radius: 6px;
    background: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/*end pricing*/
/*start videos*/
.videos {
    padding-bottom: var(--main-padding-b, 100px);
    padding-top: var(--main-padding-t, 30px);
    background-color: white;
    position: relative;
}
@media (min-width: 992px) {
    .videos .container {
        display: flex;
        justify-content: center;
    }
}
.videos .container .box {
    border: 1px solid var(--back-bord,#ececec);
    flex: 1;
}
@media (max-width: 767px) {
    .videos .container .box {
        width: 100%;
    }
}
.videos .container .box .lable {
    background-color:var( --backg-color, #fafafa);
    padding: 20px;
    color: var(--main-color,#1787e0);
}
.videos .container .box .lable h4 {
    margin: 0;
    text-transform: capitalize;
}
.videos .container .box .timing {
    padding: 20px;
    font-size: .9rem;
    border-top: 1px solid var(--back-bord,#ececec);
}
.videos .container .box .timing p:hover {
    color: var(--main-color,#1787e0);
}
.videos .container .box .timing span {
    display: block;
    margin-top: 10px;
    color: var(--text-color);
}
.videos .container .box1 {
    padding: 10px;
    background-color: #e4e4e4;
    border: 1px solid var(--back-bord,#ececec);
    flex-basis: 70%;
    flex-direction: column;
    align-items: normal;
}
.videos .container .box1 p {
    padding: 20px;
    font-size: .9rem;
    background-color: white;
}
/*end videos*/
/*start statics*/
.stats {
    min-height: 300px;
    padding-bottom: var(--main-padding-b, 100px);
    padding-top: var(--main-padding-t, 30px);
    position: relative;
    background-color: rgb(255 255 255 / 95%);
}
.stats::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(" https://raw.githubusercontent.com/ElzeroWebSchool/HTML_And_CSS_Template_Three/main/imgs/stats.jpg ");
    background-size: cover;
    z-index: -1;
}
.stats h2 {
    margin: 50px auto 30px;
    font-size: 40px;
    text-align: center;
}
.stats .container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.stats .container .card {
    padding: 20px;
    background-color: white;
    text-align: center;
    position: relative;
}
.stats .container .card::before,
.stats .container .card::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 0;
    background-color: var(--main-color,#1787e0);
    transition: var(--main-transi, 0.3s);
    -webkit-transition: var(--main-transi, 0.3s);
    -moz-transition: var(--main-transi, 0.3s);
    -ms-transition: var(--main-transi, 0.3s);
    -o-transition: var(--main-transi, 0.3s);
}
.stats .container .card::before {
    top: 0;
    left: 0;
}
.stats .container .card::after {
    bottom: 0;
    right: 0;
}
.stats .container .card:hover::before,
.stats .container .card:hover::after {
    height: 100%;
}
.stats .container .card span {
    display: block;
    margin: .9rem auto 1.2rem;
    font-size: 40px;
    font-weight: bolder;
}
.stats .container .card h5 {
    color: var(--main-color,#1787e0);
    text-transform: capitalize;
    font-size: 1.2rem;
    font-style: italic;
}
/*end stats*/
/*start discount*/
.discount {
    min-height: 100vh;
    position: relative;
    display: grid;
}
@media (min-width: 992px) {
    .discount {
        gap: 40px;
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    }
}
.discount .box-img {
    position: relative;
    background: rgb(23 135 224 / 0.9);
}
.discount .box-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
    animation: backgr 10s linear infinite;
    -webkit-animation: backgr 10s linear infinite;
}
@keyframes backgr {
    0% {
        background-image: url("  https://raw.githubusercontent.com/ElzeroWebSchool/HTML_And_CSS_Template_Three/main/imgs/discount-background1.jpg ");
        opacity: 0.3;
    }
    100% {
        background-image: url("  https://raw.githubusercontent.com/ElzeroWebSchool/HTML_And_CSS_Template_Three/main/imgs/discount-background2.jpg ");
        opacity: 0.8;
    }
}
.discount .box {
    padding: 0 .25rem;
    text-transform: capitalize;
    text-align: center;
    color: white;
}
@media (min-width: 992px) {
    .discount .box {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
}
}
@media (max-width: 767.98px) {
    .discount .box {
        padding: 40px 20px;
    }
}
.discount .box p:first-child {
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: -1px;
}
@media (max-width: 991.98px) {
    .discount .box p:first-child {
margin-top: 2rem;
    }
}
.discount .box p:last-of-type {
    max-width: 500px;
    margin: 1.7rem auto;
    font-size: 1rem;
    line-height: 1.6;
}
.discount .box img {
    width: 300px;
}
@media (min-width: 992px) {
    .discount .box1 {
        width: 300px;
        position: absolute;
        left: 75%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
}
}
@media (max-width: 991.98px) {
    .discount .box1 {
        width: 300px;
        margin: 2rem auto 0;
    }
}
.discount .box1 p {
    margin-bottom: 40px;
    text-transform: capitalize;
    font-size: 1.9rem;
    font-weight: 900;
    text-align: center;
}
.discount .box1 form {
    margin-top: 30px;
}
.discount .box1 form input,
.discount .box1 form textarea {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 30px;
    background: #f9f9f9;
    font-size: .9rem;
    text-transform: capitalize;
    border-bottom: 1px solid #ccc;
}
.discount .box1 form textarea {
    height: 200px;
}
.discount .box1 form [type="submit"] {
    background: var(--main-color,#1787e0);
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.discount .box1 form [type="submit"]:hover {
    background: var(--secondary-color,#2196f3);
}
/*end discount*/
/*start footer*/
.footer {
    padding-top: var(--main-padding-t, 30px);
    background: #191919;
    position: relative;
}
.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
@media (max-width: 767px) {
    .footer .container {
        text-align: center;
    }
}
.footer .container .box h2 {
    margin: 0 auto 20px;
    color: white;
    font-size: 50px;
    text-transform: capitalize;
}
.footer .container .box .icons {
    margin: 10px auto;
    display: flex;
}
@media (max-width: 767px) {
    .footer .container .box .icons {
        align-items: center;
        justify-content: center;
    }
}
.footer .container .box .icons a {
    width: 50px;
    height: 50px;
    margin: auto 5px;
    font-size: 1.1rem;
    color: #b9b8b9;
    background: #313131;
}
.footer .container .box .icons a:first-child:hover {
    background: #1877f2;
}
.footer .container .box .icons a:nth-child(2):hover {
    background: #1da1f2;
}
.footer .container .box .icons a:last-child:hover {
    background: #ff0000;
}
.footer .container .box p {
    margin: 20px auto 40px;
    color: #b9b9b9;
    font-size: .93rem;
    line-height: 2;
}
@media (max-width: 767px) {
    .footer .container .links {
        text-align: center;
    }
}
.footer .container .links a {
    display: block;
    padding: 15px 0;
    margin: 0;
    color: #b9b9b9;
    font-size: .9rem;
    text-transform: capitalize;
    border-bottom: 0.5px solid #444;
    transition: var(--main-transi, 0.3s);
    -webkit-transition: var(--main-transi, 0.3s);
    -moz-transition: var(--main-transi, 0.3s);
    -ms-transition: var(--main-transi, 0.3s);
    -o-transition: var(--main-transi, 0.3s);
}
.footer .container .links a:last-child {
    border: none;
}
.footer .container .links a:hover {
    color: white;
    padding-left: 10px;
}
.footer .container .links i {
    margin-right: 10px;
    color: var(--main-color,#1787e0);
}
@media (max-width: 767px) {
    .footer .container .box-info {
        margin: 10px auto 40px;
        text-align: center;
    }
}
.footer .container .box-info .info {
    margin-bottom: 20px;
}
@media (min-width: 992px) {
    .footer .container .box-info .info {
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .footer .container .box-info p {
        flex: 1;
    }
}
.footer .container .box-info i {
    color: var(--main-color,#1787e0);
    font-size: 1.4rem;
}
@media (max-width: 767.98px) {
    .footer .container .box-info i {
        margin: 10px 0;
    }
}
.footer .container .box-info p {
    color: #b9b9b9;
    font-size: .9rem;
    line-height: 1.7;
}
.footer .container .images {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
@media (max-width: 767.98px) {
    .footer .container .images {
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
}
.footer .container .images div {
    flex-basis: 25%;
}
.footer .container .images img {
    border: 3px solid white;
}
.footer > p {
    padding: 30px 0;
    color: white;
    font-size: .9rem;
    text-align: center;
    text-transform: capitalize;
    border-top: 0.5px solid #444;
}
